PORT=5000

NODE_ENV=development

MONGODB_URI=YOUR_MONGODB_ATLAS_URL

JWT_SECRET=YOUR_SECRET

JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET

EMAIL_USER=YOUR_EMAIL

EMAIL_PASSWORD=YOUR_PASSWORD

CLIENT_URL=http://localhost:3000